:root {
    --link-color: #2461FF;
    --visited-link-color: #A216E4;
    --blue-text: #568BD7;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

body {
  width: 100%;
  background: #ffffff;
  color: var(--blue-text);
  font-size:18px;
  margin: 0 auto;
}

h1 {
  color: var(--blue-text);
  font-size: 32px;
  font-weight: 600;
}

h2 {
  color: var(--blue-text);
  font-size: 26px;
  font-weight: 600;
}

h3 {
  color: var(--blue-text);
  font-size: 22px;
  font-weight: 600;
}

html {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

input[type=radio] {
  appearance: radio;
}

pre {
  background: #D6E7FF;
  padding: 20px;
}

.content {
    margin: 0 auto;
    margin-top: 0.8vw;
    width: 95%;
    background: #ffffff;
    padding: 3px;
    max-width: 1600px;
}

.header_link {
    font-size: 25px;
}

#footer span {
    font-size: 20px;
}

#footer {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    height: 50px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

#ghost_footer {
  height: 70px;
}

#ghost_header {
    top: 0;
    height: 60px;
    margin: 0;
    padding: 0;
}

#header a,
#footer a {
    text-decoration: none;
    color: var(--blue-text);
}

#header a:hover,
#footer a:hover {
    color: #000000;
    text-decoration: none;
}

#header input {
  background: #5f5f5f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  width: auto;
  padding: 0 15px;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
}

#header input:hover {
    color: #000000;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    height: 50px;
    color: var(--blue-text);
    z-index: 100;
}

#header_buttons table {
  width: 100%;
  margin-top: -10px;
}

#header_buttons {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#header_left img {
    height: 30px;
    margin-top: 14px;
}

#header_left {
    text-align: left;
}

#header_right a {
    padding-top: 10px;
    display: inline-block;
    margin-left: 10px;
}

#header_right {
    text-align: right;
}

#logo {
    height: 60px;
}

#logo:hover {
    filter: invert(30%);
}

#logo_footer a {
    display: inline-block;
    margin: 0 10px;
    margin-top: -20px;
}

#logo_footer img {
    display: inline-block;
    height: 35px;
    margin-top: 18px;
}

#logo_footer img:hover {
    filter: invert(30%);
}

#logo_footer {
    display: inline-block;
    margin-top: 10px;
}
