#header {
    height: 65px;
}

#header_left img {
    height: 45px;
}

.header_link {
    font-size: 35px;
    font-weight: 500;
}

#footer {
    height: 60px;
}

#logo_footer img {
    height: 50px;
}
