.content {
    text-align: center;
    width: 95%;
    min-width: 0;
}

#header {
    height: 65px;
}

#header_left img {
    height: 45px;
}

.header_link {
    font-size: 35px;
    font-weight: 500;
}

#caption {
     text-align: center;
}

#caption h1 {
    font-size: 80px;
    margin: 10px;
    font-weight: 600;
}

#caption p {
    font-size: 40px;
    margin: 5px;
}

.item_image {
    margin-top: 30px;
}

.item_image img {
    border-radius: 100px;
    border: 6px solid var(--blue-text);
    width: calc(100% - 12px);
}

#prev,
#next {
    width: 49%;
    margin-top: -105%;
}


#prev_button,
#next_button {
    border-radius: 10px;
    width: 100px;
}

#prev_button a,
#next_button a {
    padding: 10px;
    font-size: 90px;
    height: 700px;
    text-align: center;
    color: #ffffff;
}

#prev_button a div,
#next_button a div {
    margin-top: 300px;
}

#price {
    font-size: 70px;
    margin: 0;
    margin-top: -40px;
    font-weight: 500;
}

.order_form input[type=submit] {
    font-size: 75px;
    border-radius: 150px;
}

#item_description {
    font-size: 40px;
    width: 90%;
    margin: 30px auto;
}

.order_form_block h2 {
    font-size: 70px;
}

.order_form input[type=text] {
    font-size: 60px;
}

label {
    font-size: 50px;
}

.block {
    border: 6px solid var(--blue-text);
    border-radius: 100px;
    padding: 50px;
}

.order_form input[type=radio] {
    height: 50px;
    width: 50px;
}

.order_form input[type=radio]:after {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.order_form input[type=radio]:checked:after {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 10px solid var(--blue-text);
}

select {
    width: 200px;
    font-size: 60px;
    margin-bottom: 40px;
}

.field_help_text {
    font-size: 40px;
}

#size_tutorial {
    margin: 0;
}

#size_tutorial img {
    width: 300px;
}

#size_tutorial h2 {
    font-size: 70px;
    margin: 0;
}

#size_tutorial p {
    font-size: 30px;
}

#tutorial_table {
    font-size: 40px;
}

#footer {
    height: 60px;
}

#logo_footer img {
    height: 50px;
}
