#item_page {
    text-align: center;
}

.column {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.block {
    border: 2px solid var(--blue-text);
    border-radius: 45px;
    padding: 10px 30px;
    margin-bottom: 40px;
}

#item_description {
    text-align: left;
}

#girl_image {
    width: 100%;
}

.item_image img {
    width: 100%;
}
