#track_order {
    margin: 0 auto;
    background: var(--blue-text);
    margin-top: 10%;
    text-align: center;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
}

#track_order_id {
    margin: 0 auto;
    margin-top: 5%;
    font-size: 18px;
    background: #ffffff;
    text-align: center;
    width: 600px;
    border: 2px solid var(--blue-text);
    border-radius: 30px;
}

#track_order input[type=text] {
    background: #ffffff;
    border-radius: 5px;
    color: #585858;
    font-size: 22px;
    text-align: center;
    width: 70%;
    margin: 4% 5%;
}

#track_order input[type=submit] {
    background: #ffffff;
    color: var(--blue-text);
    border: 2px solid var(--blue-text);
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    margin: 4% 5%;
    margin-top: 0%;
    padding: 1% 5%;
}

#track_order input[type=submit]:hover {
    background: #8abaff;
    color: #ffffff;
}

#table {
    padding: 5% 10%;
}

#track_order_id table {
    background: #ffffff;
    color: #000000;
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    border-spacing: 2px;
}

#track_order_id td {
    text-align: center;
    padding: 1%;
    border: 2px solid var(--blue-text);
    border-radius: 30px;
}

#links {
    padding-bottom: 5%;
}

#links a:hover {
    color: #8abaff;
}

@media only screen and (max-width: 1000px) {
    #track_order {
        margin-top: 30%;
        width: 100%;
    }

    #track_order input[type=text] {
        font-size: 9vw;
        margin: 10% 5%;
        width: 80%;
    }

    #track_order input[type=submit] {
        font-size: 7.5vw;
        margin: 10% 5%;
        margin-top: 0%;
    }

    #track_order_id {
        margin-top: 10%;
    }
}
