{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/customer_app/contacts.css' %} ">

<div class="contacts">
    <p class="title">
        Контакты
    </p>
    <p class="text" id="adress">
        Москва, метро ВДХН, Касаткина 3 строение 2
        <br>
        Москва, метро Кузьминки
    </p>
    <a href="https://instagram.com/leoproko_shop">
        <img class="logo_image" src="{% static 'img/logo/inst_logo_black.svg'%}">
    </a>
    <a href="https://vk.com/leoproko_shop">
        <img class="logo_image" src="{% static 'img/logo/vk_logo_black.svg'%}">
    </a>
    <p class="text">
        По вопросам сотрудничества и трудоустройста: leoproko126@gmail.com
    </p>
</div>
