{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/customer_app/delivery.css' %} ">

<div class="delivery">
    <p class="title">
        Доставка
    </p>
    <p class="text">
        Доставка осуществляется СберЛогистикой или Почтой России.
    </p>
    <p class="text">
        Статус заказа вы сможете отследить по номеру заказа
        на <a href="/track_order">этой странице</a>, а статус
        посылки на сайте службы доставки по трек-номеру,
        который мы вам вышлем после отправления.
    </p>
    <p class="text">
        Заказ принимается в работу по предоплате.
    </p>

    <p class="text">
        Стоимость доставки 300₽ до пунктов выдачи
        или 500₽ до двери.
    </p>
</div>

<div class="delivery">
    <p class="title">
        Самовывоз
    </p>
    <p class="text">
        Москва, метро ВДХН, Касаткина 3 строение 2.
    </p>
    <p class="text">
        Здесь находится мастерская, в которой
        вы сможете забрать свое украшение
    </p>
    <p class="text">
        Также возможен самовывоз со станции метро Кузьминки
    </p>
</div>
