{% load static %}

<div class="header" id="ensio_header">
  <div id="header_buttons">
      <table>
          <tr>
              <td id="header_left">
                  <a href="{% url 'back_office' %}">
                      <img id="logo" src="{% static 'img/logo/leoproko_logo_with_text_white.svg' %}">
                  </a>
              </td>
              <td id="header_right">
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'user_page' request.user.username %}">
                      <input type="button" value="{{ request.user.public_name }}">
                  </a>
                  <a href="{% url 'logout' %}">
                      <input type="button" value="Logout">
                  </a>
                  {% else %}
                  <a href="{% url 'login' %}">
                      <input type="button" value="Login">
                  </a>
                  <a href="/register/">
                      <input type="button" value="Register">
                  </a>
                  {% endif %}
              </td>
          </tr>
      </table>
  </div>
</div>

<div id="ghost_header"></div>
