{% load hosts %}
<div class="sidebar">
  <a href="/">
      <input type="button" value="Money">
  </a>
  <a href="{% host_url 'orders' host 'base' %}">
      <input type="button" value="Orders">
  </a>
  <a href="{% host_url 'stock' host 'base' %}">
      <input type="button" value="Stock">
  </a>
  <a href="{% host_url 'password' host 'base' %}">
      <input type="button" value="Passwords">
  </a> </th>
  <a href="{% host_url 'documents' host 'docs' %}">
      <input type="button" value="Documents">
  </a>
  <a href="{% host_url 'tasks' host 'base' %}">
      <input type="button" value="Tasks">
  </a>
</div>
