<div class="sidebar">
  <a href="{% url 'back_office' %}">
      <input type="button" value="Money">
  </a>
  <a href="{% url 'employees' %}">
      <input type="button" value="Staff">
  </a>
  <a href="{% url 'orders' %}">
      <input type="button" value="Orders">
  </a>
  <a href="{% url 'stock' %}">
      <input type="button" value="Stock">
  </a>
  <a href="{% url 'customers' %}">
      <input type="button" value="Customers">
  </a>
  <a href="{% url 'password' %}">
      <input type="button" value="Passwords">
  </a> </th>
  <a href="{% url 'documents' %}">
      <input type="button" value="Documents">
  </a>
  <a href="{% url 'tasks' %}">
      <input type="button" value="Tasks">
  </a>
</div>
