{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> &page_title& </title>
  <meta name="description" content="Ensio">
  <meta name="author" content="leoproko">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/factory/base.css' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/div.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/logo/logo_black.png' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/p.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


&content_css&

<body>
    {% include 'html/factory/back_office_header.html' %}

    {% if request.user.is_staff %}
    <div class="content_wrapper">
        {% include 'html/factory/back_office_navbar.html' %}
        <div class="back_office_content">
            &content_html&
        </div>
    </div>
    {% else %}
    <div class="content_wrapper">
        <div class="back_office_content no_navbar">
            &content_html&
        </div>
    </div>
    {% endif %}

    <div class="ghost_footer"></div>
    {% include 'html/factory/back_office_footer.html' %}
</body>

&content_js&

</html>

