{% load static %}

<div class="header" id="customer_header">
  <div id="header_buttons">
      <table>
          <tr>
              <td id="customer_header_left">
                  <a href="{% url 'index' %}">
                      <img id="logo" src="{% static 'img/logo/leoproko_logo_with_text_white.svg' %}">
                  </a>
              </td>
              <td id="customer_header_right">
                      <a href="{% url 'collections' %}">
                          <span class="customer_link">
                              коллекции
                          </span>
                      </a>
                      <a href="{% url 'delivery' %}">
                          <span class="customer_link">
                              доставка
                          </span>
                      </a>
                      <a href="{% url 'contacts' %}">
                          <span class="customer_link">
                              контакты
                          </span>
                      </a>
              </td>
          </tr>
      </table>
  </div>
</div>

<div id="ghost_header"></div>
