{% load static %}
{% load hosts %}

<div id="login_body">
    <div id="login_image">
        <img src="{% static 'img/login_character.png' %}">
    </div>
    <div id="login_form">
        <h2>Welcome back!</h2>
        <form method="POST" action="">
            <input type="text" name="email" placeholder="Email...">
            <br>
            <input type="password" name="password" placeholder="Password...">
            <br>
            <input type="submit" value="Login">
        </form>
        <a href="{% host_url 'register' host 'base' %}">
            Don't have an account?
        </a>
    </div>
</div>
