.input_fill {
    text-decoration: none;
    background: #568BD7 !important;
    color: white !important;
    font-size: 18px;
}

.input_fill:hover {
    background: #8abaff !important;
}

.input_stroke {
    text-decoration: none;
    border: 1px solid #568BD7 !important;
    background: #ffffff !important;
    color: #568BD7 !important;
    font-size: 18px;
}

.input_stroke:hover {
    background: #8abaff !important;
    color: #ffffff !important;
    border: 1px solid #8abaff !important;
}

.header input {
    font-size: 16px;
}

.header input:hover {
    color: #000000;
}

#logo:hover {
    filter: invert(10%);
}

#ghost_header {
    height: 50px;
}

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.footer input {
    background: #ffffff;
    border: 1px solid #568BD7;
    color: #568BD7;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 5px;
    width: 150px;
    text-align: center;
}

.footer input:hover {
    background: #8abaff !important;
    color: #ffffff !important;
    border: 1px solid #ffffff;
}

#ensio_header{
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    height: 50px;
    font-size: 36px;
    font-weight: 600;
}

#ensio_footer {
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.8);
    color: white;
    height: 50px;
    text-align: center;
    vertical-align: center;
}

.ghost_footer {
    height: 50px;
}

.hljs {
    background: #D6E7FF !important;
}

.remove_form {
    margin: 0 auto;
    text-align: center;
}

.remove_form a {
    text-decoration: none;
}

.remove_form input {
    font-size: 25px;
    padding: 0 10px;
    font-weight: 500;
    height: 50px;
}

[data-link] {
    cursor: pointer;
}
