<link rel="stylesheet" tepe="text/css" href="{% static '/css/form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/table.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/div.css' %}">

<div class="white_header">
    <h2> Delete order {{ order.id }} </h2>
    <h3> Are you sure to remove this order? </h3>
</div>

<table class="data_table">
    <tr id="tablde_header">
        <th> Order number </th>
        <th> Name id </th>
        <th> Size </th>
        <th> Status </th>
        <th> Name </th>
        <th> Contact type </th>
        <th> Phone number </th>
        <th> Date created </th>
    </tr>
    <tr>
        <td> {{ order.id }} </td>
        <td> {{ order.item.name_id }} </td>
        <td> {{ order.size }} </td>
        <td> {{ order.status }} </td>
        <td> {{ order.customer_name }} </td>
        <td> {{ order.connection_type }} </td>
        <td> {{ order.phone_number }} </td>
        <td> {{ order.date_created }} </td>
    </tr>
</table>

<div class="center_form">
    <form action="" method="POST">
        <a href="{% url 'orders' %}">
            <input type="button" value="No, return back">
        </a>
        <input type="submit" value="Yes, delete">
    </form>
</div>
