#header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    height: 40px;
    color: var(--blue-text);
    z-index: 100;
    text-align: center;
}

#ghost_header {
    height: 40px;
}

#header_logo {
    text-align: center;
    height: 100%;
}

#header_logo img {
    height: 30px;
    margin-top: 5px;
}

#login_body {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#register_body {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-left: -80px;
    width: 100%;
}

#login_image,
#login_form,
#register_image {
    display: inline-block;
}

#register_image {
    margin-right: -260px;
    vertical-align: top;
    margin-top: -220px;
}

input {
    background: #EAECFF;
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    width: 350px;
    outline: none;
    border: 0;
}

input[type=submit] {
    text-align: center;
    background: #568BD7;
    color: #ffffff;
    width: 410px;
}
