{% load static %}

<div id="landing_header">
    <img src="{% static 'img/ring_1/header.jpg' %}">
    <img src="{% static 'img/ring_1/under_header.svg' %}">
</div>

<div id="landing_content">
    <table id="content_table">
        <tr>
            <td>
                <div class="ring_image">
                    <img src="{% static 'img/ring_1/ring_1.jpeg' %}">
                </div>
                <div class="huy_image">
                    <img id="hi" src="{% static 'img/ring_1/hi.svg' %}">
                </div>
                <div class="ring_image">
                    <img src="{% static 'img/ring_1/ring_2.jpeg' %}">
                </div>
                <div class="photo_text">
                    <p>
                        будь смелым. возьми жизнь под свой контроль
                    </p>
                </div>
                <div class="ring_image">
                    <img src="{% static 'img/ring_1/ring_3.jpeg' %}">
                </div>
                <div class="photo_text">
                    <p>
                        ты сможешь превратить все свои слабые строны в сильные
                    </p>
                </div>
                <div class="ring_image">
                    <img src="{% static 'img/ring_1/ring_4.jpeg' %}">
                </div>
                <div class="photo_text">
                    <p>
                        ты сильнее страха
                    </p>
                </div>
            </td>
            <td>
                <div id="under_header">
                    <p id="header_text_1">Послать всех <br> на хуй за 5000₽</p>
                    <p id="header_text_2">Ты сильнее страха</p>
                        <ul id="header_text_3">
                            <li>
                                <p>
                                    Размеры: от 15 до 21
                                </p>
                            </li>
                            <li>
                                <p>
                                    Серебро 925 пробы
                                </p>
                            </li>
                            <li>
                                <p>
                                    Вес: 9 грамм
                                </p>
                            </li>
                            <li>
                                <p>
                                    Доставка по России
                                </p>
                            </li>
                        </ul>
                </div>
                {% include 'html/landing/size_tutorial.html' %}
                {% include 'html/landing/order_form.html' %}
                <p id="delivery_info">
                    Доставка СберЛогистикой или Почтой России
                    по 50% предоплате.
                    <br>
                    Остальное при получении.
                    <br>
                    Статус заказа вы сможете отследить по трек-номеру
                    на <a href="/track_order">этом сайте</a>,
                    а посылки на сайте службы доставки.
                </p>
            </td>
        </tr>
    </table>
</div>
