<style>
:root {
  --pink-color: #fad7ee;
  --purple-color: #dbdaec;
  --green-color: #d1ddde;
  --link-color: #4676D4;
  font-family: Montserrat;
}

html {
  font-family: 'Playfair Display', serif;
}

input {
  font-family: 'Playfair Display', serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

body {
  width: 100%;
  background: #dbdaec;
  color: black;
  font-size:18px;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  color: var(--link-color);
  text-decoration: none
}

a:hover {
  color: var(--link-color);
}

.header {
  width: 100%;
}

.header input {
  background: #d1ddde;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.header input:hover {
  background: #aec2bb;
}

.footer {
  background:#fad7ee;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#content {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
}

#ensio_header{
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background: rgba(250, 215, 238, 0.9);
  position: fixed;
  height: 110px;
  z-index: 100;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

#ghost_header {
  height: 60px;
}

#header_buttons {
}

#header_buttons input {
    vertical-align:middle;
    margin: 0;
}

#header_buttons table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  border-radius: 0;
  min-width: 900px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

#header_buttons td {
    font-size: 45px;
}

#header_buttons td,
#header_buttons th,
#header_buttons tr,
#header_buttons tr:nth-child(odd),
#header_buttons tr:nth-child(even) {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin:0;
}

#header_line {
  vertical-align:middle;
}

#ensio_footer {
  height: 44px;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}
</style>
