<style>
:root {
  --pink-color: #fad7ee;
  --purple-color: #dbdaec;
  --green-color: #d1ddde;
  --link-color: #4676D4;
  font-family: Montserrat;
}

html {
  font-family: 'Playfair Display', serif;
}

input {
  font-family: 'Playfair Display', serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

body {
  width: 100%;
  background: #dbdaec;
  color: black;
  font-size:18px;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  color: var(--link-color);
  text-decoration: none
}

a:hover {
  color: var(--link-color);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 3px solid black;
  border-radius: 3px;
  -moz-border-radius:3px;
  width: 100%;
  margin: 10px;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background: #fad7ee;
  color white;
}

tr:nth-child(odd) {
  background: #dbdbdb;
}

tr:nth-child(even) {
  background: white;
}

.header {
  width: 100%;
}

.header input {
  background: #d1ddde;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.footer {
  background:#fad7ee;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#content {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
}

#ensio_header{
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  background: rgba(250, 215, 238, 0.9);
  position: fixed;
  height: auto;
  z-index: 100;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

#header_buttons {
    padding-bottom: 10px;
}

#header_buttons input {
    vertical-align:middle;
}

#header_line {
  vertical-align:middle;
}

#ensio_footer {
  height: 44px;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}
</style>
