:root {
  --link-color: #4676D4;
}

html {
  font-family: 'Tenor Sans', sans-serif;
}

input {
  font-family: 'Tenor Sans', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: black;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

input[type=radio] {
  appearance: radio;
  -webkit-appearance: radio;
  -moz-appearance: radio;
}

body {
  width: 100%;
  background: #EAF7FB;
  color: black;
  font-size:18px;
  margin: 0 auto;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
}

a {
  color: #4676D4;
  text-decoration: none
}

a:hover {
  color: #4676D4;
  text-decoration: underline;
}

.header {
  width: 100%;
}

.header a {
  color: black;
}

.header input {
  background: #d1ddde;
  font-size: 18px;
  font-weight: 500;
  width: auto;
  padding: 0 20px;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.ghost_footer {
  height: 70px;
}

.footer {
  background:#fad7ee;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}

.content_wrapper {
  margin: -10px auto;
}

.sidebar {
  background: #E0F0F5;
  width: 166px;
  position: fixed;
  height: 100%;
  margin-top: -20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
}

.sidebar input {
  background: #D5E8E9;
  font-size: 18px;
  font-weight: 500;
  width: 160px;
  height: 35px;
  text-align: center;
  margin: 1.5px 3px;
}

.sidebar input:hover, #ensio_header input:hover {
  background: #bccecf;
}

.back_office_content {
  width: calc(100% - 250px);
  margin-top: 20px;
  margin-left: 200px;
  padding-right: 50px;
}

.customers_content {
  text-align: center;
}

#ensio_header{
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background: rgba(250, 215, 238, 0.9);
  position: fixed;
  height: 50px;
  font-size: 36px;
  font-weight: 600;
}

#ensio_header a:hover {
  text-decoration: none;
}

#ghost_header {
  height: 60px;
}

.left_header a {
  margin-left: 30px;
}

.right_header {
  text-align: right;
}

.right_header a {
  margin-right: 10px;
}

#header_buttons table {
  width: 100%;
  margin-top: -10px;
}

#header_line {
  vertical-align:middle;
}

#ensio_footer {
  height: 44px;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}
