.inline_div {
    display: inline-block;
}

.left_div {
    float: left;
}

.center_div {
    margin: 0 auto;
}

.right_div {
    float: right;
}

.wrapper {
    overflow: auto;
}

.wrapper_vc {
    overflow: auto;
    display: flex;
    align-items: center;
}

.wrapper_hc {
    overflow: auto;
    display: flex;
    justify-content: center;
}

.wrapper_hvc {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

