#content {
    text-align: center;
}
.info_block {
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 20px;
    width: 250px;
}
.info_block_title {
    background: #bbbcdb;
    text-align: center;
    height: 60px
}
.info_block_data {
    background: white;
    text-align: center;
    height: 75px
}
.title {
    font-size: 30px;
    font-weight: 600;
    padding:10px;
    margin:0;
}
.value {
    font-size: 50px;
    padding:0;
    margin:0;
}
