<link rel="stylesheet" type="text/css" href="{% static 'css/div.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/back_office/new_order.css' %}">

<div class="wrapper_hvc">
    <div class="left_div center_div order_form">
        <form action="" method="POST">
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                <br>
            {% endfor %}
            <div id="submit_button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
