<link rel="stylesheet" type="text/css" href="{% static 'css/div.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static 'css/p.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/back_office/document.css' %}">

<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

<div class="center_div">
</div>
<form action="" method="POST">
    <div class="center_div document_title">
        <p class="pcenter p3">
            This is Document editor. Heare you can use <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a> for text formatting.
        </p>
        <hr>
        <b> Title: 
            <div class="input_form inline_div">
                {{ form.title }}
            </div>
        </b>

        <br>

        <i>Owner:</i> <b>{{ request.user.public_name }}</b>

        <br>

        <i>Author(s):</i>

        {{ form.authors }}

        {% if request.user.is_staff %}
            <br>
            <br>
            <i>Group(s):</i>
            {{ form.groups }}
        {% endif %}

        <br>

        {% if document %}
            <i> Date created: {{ document.date_created }} </i>
        {% endif %}

        <br>
        <i> Public link: {{ form.is_link_public }} </i>
        <br>
        <i> Public indexed: {{ form.is_indexed }} </i>
        <hr>
        <div class="buttons_wrapper">
            <div class="inline_button">
                <input type="submit" value="Save" />
            </div>
            <div class="inline_button">
            {% if document %}
                <a href="{% url 'view_document' document.id %}">
            {% else %}
                <a href="">
            {% endif %}
                    <input type="button" value="View" />
                </a>
            </div>
        </div>
    </div>
    <div class="document_body center_div document_textarea">
        <p class="p3">
        {{ form.markdown_data }}
        </p>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/document.js' %}"></script>
