<link rel="stylesheet" type="text/css" href="{% static 'css/div.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static 'css/p.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/document.css' %}">

<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

<div class="center_div">
</div>
<form action="" method="POST">
    <div class="center_div document_title">
        <p class="pcenter p3">
            This is Document editor. Heare you can use <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a> for text formatting.
        </p>
        <hr>
        <h2> Title: 
            <div class="input_form inline_div">
                {{ form.title }}
            </div>
        </h2>
        <i> Author:</i>
        {% if document %}
            <b>{{ document.owner }}</b>
            <br>
            <i> Date created: {{ document.date_created }} </i>
        {% else %}
            <b>{{ request.user }}</b>
        {% endif %}
        <br>
        <i> Is private: {{ form.is_private }} </i>
        <hr>
        <div class="buttons_wrapper">
            <div class="inline_button">
                <input type="submit" value="Save" />
            </div>
            <div class="inline_button">
            {% if document %}
                <a href="{% url 'view_document' document.id %}">
            {% else %}
                <a href="">
            {% endif %}
                    <input type="button" value="View" />
                </a>
            </div>
        </div>
    </div>
    <div class="document_body center_div document_textarea">
        <p class="p3">
        {{ form.markdown_data }}
        </p>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/document.js' %}"></script>
