<link rel="stylesheet" type="text/css" href="{% static 'css/div.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/back_office/orders.css' %}">

<div class="wrapper_hvc">
    <div class="inline_div left_div center_div orders_header">
        <h2> Found {{ order_counter }} orders </h2>
        <ul>
            {% for order_count in order_counters %}
            <li>
                <b> {{ order_count.0 }}: {{ order_count.1 }}</b>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="inline_div left_div center_div orders_header">
        <form method="get">
            <span class="form_title">Item: </span>{{ filter.form.item }}
            <br>
            <span class="form_title">Status: </span>{{ filter.form.status }}
            <br>
            <span class="form_title">Phone number: </span>{{ filter.form.phone_number }}
            <br>
            <div id="seach_button">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
</div>

<table class="data_table">
    <tr id="tablde_header">
        <th> Order number </th>
        <th> Name id </th>
        <th> Size </th>
        <th> Status </th>
        <th> Name </th>
        <th> Contact type </th>
        <th> Phone number </th>
        <th> Date created </th>
        <th> Change </th>
        <th> Remove </th>
    </tr>
    {% for order in orders %}
    <tr>
        <td> {{ order.id }} </td>
        <td> {{ order.item.name_id }} </td>
        <td> {{ order.size }} </td>
        <td> {{ order.status }} </td>
        <td> {{ order.customer_name }} </td>
        <td> {{ order.connection_type }} </td>
        <td> {{ order.phone_number }} </td>
        <td> {{ order.date_created }} </td>
        <td> <a href="{% url 'change_order' order.id %}"> Change </a> </td>
        <td> <a href="{% url 'remove_order' order.id %}"> Remove </a> </td>
    </tr>
    {% endfor %}
</table>
