<link rel="stylesheet" type="text/css" href="{% static 'css/back_office/documents.css' %}">

Public name: <b>{{ user.public_name }}</b>
E-mail: <b>{{ user.email }}</b>

<div class="documents">
    {% for document in documents %}
        <div class="document" data-link="{% url 'view_document' document.id %}">
            <div class="document_title">
                <b>{{ document.title }}</b>
            </div>
            <hr>
            <div class="document_title">
                {% if document.authors.all|length == 1 %}
                Author:
                {% else %}
                Authors:
                {% endif %}
                <b>
                    {% with document.authors.all|length as last_index %}
                    {% with document.authors.all.last as last %}
                        {% for author in document.authors.all %}
                            {{ author.public_name }}
                            {% if author != last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    {% endwith %}
                </b>
            </div>
            <div class="document_title">
                Date created: {{ document.date_created|date:'d M Y H:i' }}
            </div>
            <hr>
            <div class="document_preview">
                {{ document.html_data|slice:':126'|safe }}...
            </div>
        </div>
    {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/documents.js' %}"></script>
