.center_form {
  margin: 0 auto;
  text-align: center;
}

.center_form input {
  font-size: 30px;
  padding: 20px;
  font-weight: 600;
  background: #373737;
  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.center_form input:hover {
  background: #000000;
}

.input_form input {
  font-size: 18px;
  padding: 3px;
  background: #60CAB7;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin:5px;
}

.buttons_wrapper {
    width: 100%;
    text-align: center;
}

.buttons_wrapper input {
  text-align: center;
  font-size: 25px;
  width: 100%;
  font-weight: 600;
  background: #A0E7CD;
  color: white;
  margin: 0 auto;
}

.inline_button {
    display: inline-block;
    width: 45%;
}
