.data_table {
  border-collapse: separate;
  border-spacing: 1px 3px;
  border: 0;
  border-radius: 3px;
  -moz-border-radius:3px;
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}

.data_table th {
  border: 1px solid #373737;
  text-align: center;
  background: #ffffff;
  font-weight: 800;
}

.data_table td {
  border: 1px solid #373737;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.data_table tr:nth-child(even) {
  background: #dbdbdb;
}

.data_table tr:nth-child(odd) {
  background: #ffffff;
}

.data_table input, .data_table select, .data_table textarea {
  outline: none;
  resize: none;
  word-break: break-word;
  background: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.data_table input[type=checkbox] {
	background-color: white;
	border: 1px solid black;
	padding: 9px;
	border-radius: 0;
    height: auto;
    width: 10px;
}

.data_table input[type=checkbox]:checked {
	background-color: black;
	border: 1px solid black;
	padding: 9px;
	border-radius: 0;
}
