{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/shop/contacts.css' %} ">
{% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop/contacts_mobile.css' %} ">
{% endif %}

<div class="contacts">
    <h1>
        Контакты
    </h1>

    <img class="contacts_images" src="{% static 'img/shop/contacts_absurd_face.png' %}">

    <p>
        Мастерская
        <br>
        Москва, метро ВДХН, Касаткина 3 строение 2
    </p>

    <p>
        По всем вопросам пишите в
        <a href="https://www.instagram.com/leoproko_shop/">инстаграм</a>,
        <a href="https://t.me/leoproko">телеграм</a>
        или
        <a href="https://wa.me/79998390085">вотс ап</a>
    </p>

    <p>
        По вопросам сотрудничества и трудоустройста: leoproko126@gmail.com
    </p>

    <p>
        Illustration(s) from <a href="https://absurd.design">absurd.design</a>
    </p>
</div>
