{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/shop/delivery.css' %} ">

{% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop/delivery_mobile.css' %} ">
{% endif %}

<div id="delivery">
    <h1>
        Доставка
    </h1>

    <img class="delivery_images" src="{% static 'img/shop/delivery_absurd_ball.png' %}">

    <p>
        Доставляем СберЛогистикой или Почтой России
    </p>

    <p>
        Статус заказа смотрите по номеру заказа <a href="/track_order">этой странице</a>,
        а статус посылки на сайте службы доставки по трек-номеру,
        который мы вам вышлем после отправления
    </p>

    <p>
        Заказ принимается в работу после оплаты.
    </p>

    <p>
        Стоимость доставки 300₽ до постоматов
        и 500₽ до двери.
    </p>

    <h1>
        Самовывоз
    </h1>

    <img class="delivery_images" src="{% static 'img/shop/delivery_absurd_man.png' %}">

    <p>
        Москва, метро ВДХН, Касаткина 3 строение 2.
    </p>

    <p>
        Здесь находится мастерская, в которой
        можно забрать свое украшение
    </p>

    <p>
        Также по договоренноси возможен самовывоз со станции метро Кузьминки
    </p>

    <p>
        Illustration(s) from <a href="https://absurd.design">absurd.design</a>
    </p>
</div>
