{% load static %}

<div id="header">
  <div id="header_buttons">
      <table>
          <tr>
              <td id="header_left">
                  <a href="{% url 'index' %}">
                      <img id="logo" src="{% static 'img/logo/leo_proko_blue.svg' %}">
                  </a>
              </td>
              <td id="header_right">
                      <a href="{% url 'collections' %}">
                          <span class="header_link">
                              коллекции
                          </span>
                      </a>
                      <a href="{% url 'delivery' %}">
                          <span class="header_link">
                              доставка
                          </span>
                      </a>
                      <a href="{% url 'contacts' %}">
                          <span class="header_link">
                              контакты
                          </span>
                      </a>
              </td>
          </tr>
      </table>
  </div>
</div>

<div id="ghost_header"></div>
