{% load static %}

<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/order/order_form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/order/size_tutorial.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/shop/items.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/item_mobile.css' %}">

<div class="item" style="background-image: url({% static item.main_photo.url %});">
    <div class="item_name">
        {{ item.name }}
    </div>
    <div class="item_material">
    {% for material in item.materials.all %}
        {{ material }}
    {% endfor %}
    </div>
    <div class="item_price">
    {{ item.price|floatformat:0 }}₽
    </div>
</div>

<div id="button_to_order_form">
    <a href="#order_form">
        <input id="order_button" type="submit" value="Заказать">
    </a>
</div>

<div id="item_description">
    {{ item.description|safe }}
</div>

{% for image in images  %}
    <img class="item_image" src="{% static image.image.url %}">
{% endfor %}

{% include 'html/shop/order/order_form.html' %}
{% if 'ring' in item_tags %}
    {% include 'html/shop/order/size_tutorial.html' %}
{% endif %}
