{% load static %}

<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/order/order_form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/order/size_tutorial.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/shop/item.css' %}">


<div id="item_page">
    <div class="column" id="left_column">
        <div class="block">
            <h1>
                {{ item.name }}
            </h1>
            <p id="item_description">
                {{ item.description|safe }}
            </p>
        </div>
        <div class="block" id="price_block">
            <p>
                {% for material in item.materials.all %}
                    {{ material }}
                    <br>
                {% endfor %}
            </p>
                {% if item.weight %}
                    <p>
                        {{ item.weight }}
                    </p>
                {% endif %}
            <h3>
                {{ item.price|floatformat:0 }}₽
            </h3>
        </div>
        {% if 'ring' in item_tags %}
            <div class="block">
                {% include 'html/shop/order/size_tutorial.html' %}
            </div>
        {% endif %}
    </div>
    <div class="column" id="center_column">
        <div class="item_image">
            <img src="{% static item.main_photo.url %}">
        </div>
        {% for image in images  %}
            <div class="item_image">
                <img src="{% static image.image.url %}">
            </div>
        {% endfor %}
        <div id="prev">
            <div id="prev_button">
                <a onclick="plusSlides(-1)">
                    <div>
                        &#10094;
                    </div>
                </a>
            </div>
        </div>
        <div id="next">
            <div id="next_button">
                <a onclick="plusSlides(1)">
                    <div>
                        &#10095;
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="column" id="right_column">
        <img id="girl_image" src="{% static 'img/shop/3d-stripy-sport-woman.png' %}">

        <h2>
            Быстрый заказ
        </h2>

        <div class="block">
            {% include 'html/shop/order/order_form.html' %}
        </div>

        <p>
            По всем вопросам можете писать в
            <a href="https://www.instagram.com/leoproko_shop/">инстаграм</a>,
            <a href="https://t.me/leoproko">телеграм</a>
            или
            <a href="https://wa.me/79998390085">вотс ап</a>
        </p>

        <p>
            Статус заказа вы сможете отследить по номеру заказа
            на <a href="/track_order">этой странице</a>, а статус
            посылки на сайте службы доставки по трек-номеру,
            который мы вам вышлем после отправления.
        </p>

        <p>
            Illustration by
            <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a>
            from
            <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/item.js' %}"></script>
