<link rel="stylesheet" type="text/css" href="{% static 'css/shop/track_order.css' %}">

<div id="track_order_id">
    {% if order_is_found %}
    <div id="table">
        <table>
            <tr>
                <td>
                    <b>Заказ номер:</b>
                </td>
                <td>
    {{ order.id }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Товар:</b>
                </td>
                <td>
                    {{ order.item.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Размер:</b>
                </td>
                <td>
                    {{ order.size }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Статус:</b>
                </td>
                <td>
                    {{ order.status }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Дата создания:</b>
                </td>
                <td>
                    {{ order.date_created }}
                </td>
            </tr>
        </table>
    </div>
    {% else %}
    <h3>
        Заказ не найден
    </h3>
    {% endif %}
    <div id="links">
        <span>
            <a href="/">На главную</a>
        </span>
        <br>
        <span>
            <a href="/track_order">Отследить другой заказ</a>
        </span>
    </div>
</div>

