<link rel="stylesheet" tepe="text/css" href="{% static '/css/form.css' %}">
<link rel="stylesheet" tepe="text/css" href="{% static '/css/table.css' %}">

<h2> Delete order {{ order.id }} </h2>
<h3> Are you sure to remove this order? </h3>

<table class="data_table">
    <tr id="table_header">
        <th> ID </th>
        <th> Item </th>
        <th> Status </th>
        <th> First name </th>
        <th> Surname </th>
        <th> Phone number </th>
        <th> Date created </th>
    </tr>
    <tr>
        <td> {{ order.id }} </td>
        <td> {{ order.item.name }} </td>
        <td> {{ order.status }} </td>
        <td> {{ order.customer.first_name }} </td>
        <td> {{ order.customer.surname }} </td>
        <td> {{ order.customer.phone_number }} </td>
        <td> {{ order.date_created }} </td>
    </tr>
</table>

<div class="center_form">
    <form action="" method="POST">
        <a href="{% url 'orders' %}">
            <input type="button" value="No, return back">
        </a>
        <input type="submit" value="Yes, delete">
    </form>
</div>
