.customers_content {
    text-align: center;
}

.contacts {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0 1%;
}

.title {
    text-align: center;
    font-size: 60px;
}

.text {
    text-align: left !important;
    font-size: 30px;
    display: block;
}

#adress {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
}

.logo_image {
    width: 100px;
    padding: 30px;
}
