.customers_content {
    text-align: center;
    background: none;
}

.item {
    display: inline-block;
    width: 33%;
    height: 39.5vw;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.item:hover {
    filter: brightness(108%);
}

.item_name,
.item_material,
.item_price {
    color: black;
    text-align: center;
}

.item_name {
    margin-top: 7%;
    font-size: 2.5vw;
}

.item_material {
    margin-top: 1%;
    font-size: 1.3vw;
}

.item_price {
    position: absolute;
    bottom: 1.5vw;
    font-size: 2vw;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1000px) {
    .customers_content {
        width: 100%;
        margin-top: 1.3vw;
    }

    .item {
      width: 95%;
      height: 130vw;
    }
      
    .item_name {
        font-size: 9vw;
    }

    .item_material {
        font-size: 4vw;
    }

    .item_price {
        bottom: 5vw;
        font-size: 7vw;
    }
}
