#track_order {
    margin: 0 auto;
    font-size: 3vw;
    background: #373737;
    margin-top: 10%;
    text-align: center;
    width: 50%;
}

#track_order_id {
    margin: 0 auto;
    margin-top: 5%;
    font-size: 40px;
    background: #373737;
    text-align: center;
    width: 90%;
}

#track_order input[type=text] {
    background: #585858;
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
    width: 70%;
    margin: 4% 5%;
}

#track_order input[type=submit] {
    background: #9a9a9a;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    margin: 4% 5%;
    margin-top: 0%;
    padding: 1% 5%;
}

#table {
    padding: 5% 10%;
}

#track_order_id table {
    color: #ffffff;
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    border-spacing: 0px;
    border: 2px solid #9a9a9a;
}

#track_order_id td {
    text-align: center;
    padding: 1%;
    border: 2px solid #9a9a9a;
}

#links {
    padding-bottom: 5%;
}

#links a {
    color: #ffffff;
}

#links a:hover {
    color: #9a9a9a;
}

::placeholder {
    color: #9a9a9a;
}

@media only screen and (max-width: 1000px) {
    #track_order {
        margin-top: 30%;
        width: 100%;
    }

    #track_order input[type=text] {
        font-size: 9vw;
        margin: 10% 5%;
        width: 80%;
    }

    #track_order input[type=submit] {
        font-size: 7.5vw;
        margin: 10% 5%;
        margin-top: 0%;
    }

    #track_order_id {
        margin-top: 10%;
    }
}
