{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> &page_title& </title>
  <meta name="description" content="Ensio">
  <meta name="author" content="leoproko">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/base.css' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/div.css' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/p.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/ensio_logo.png' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>


&content_css&

<body>
  <div class="header" id="ensio_header">
      <div id="header_buttons">
          <table>
              <tr>
                  <td class="left_header">
                      <a href="/"> Ensio </a>
                  </td>
                  <td class="right_header">
                      {% if request.user.is_authenticated %}
                      <a href="/">
                          <input type="button" value="{{ request.user }}">
                      </a>
                      <a href="{% url 'logout' %}">
                          <input type="button" value="Logout">
                      </a>
                      {% else %}
                      <a href="{% url 'login' %}">
                          <input type="button" value="Login">
                      </a>
                      <a href="/register/">
                          <input type="button" value="Register">
                      </a>
                      {% endif %}
                  </td>
              </tr>
          </table>
      </div>
  </div>
  <div id="ghost_header"></div>

  {% if not request.user.is_anonymous %}
  <div class="content_wrapper">

      <div class="sidebar">
          <a href="{% url 'index' %}">
              <input type="button" value="Money">
          </a>
          <a href="{% url 'employees' %}">
              <input type="button" value="Staff">
          </a>
          <a href="{% url 'orders' %}">
              <input type="button" value="Orders">
          </a>
          <a href="{% url 'stock' %}">
              <input type="button" value="Stock">
          </a>
          <a href="{% url 'customers' %}">
              <input type="button" value="Customers">
          </a>
          <a href="{% url 'password' %}">
              <input type="button" value="Passwords">
          </a> </th>
          <a href="{% url 'documents' %}">
              <input type="button" value="Documents">
          </a>
          <a href="{% url 'tasks' %}">
              <input type="button" value="Tasks">
          </a>
          <a href="{% url 'index' %}">
              <input type="button" value="---">
          </a>
      </div>

      <div class="content">
        &content_html&
      </div>

  </div>
  {% else %}
    
    <div>
        <p class="p1 pcenter"> Login to visit this site </p>
        <hr>
        <div class="pcenter">
            &content_html&
        </div>
    </div>

  {% endif %}

  <div class="ghost_footer"></div>

  <div class="footer" id="ensio_footer">
    Ensio, 2021
  </div>
</body>

&content_js&

</html>

