{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> &page_title& </title>
  <meta name="description" content="Ensio">
  <meta name="author" content="leoproko">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/ensio_logo.png' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>


&content_css&

<body>
  <div class="header" id="ensio_header">
      <div id="header_buttons">
          <table>
              <tr>
                  <td rowspan="2"> <a href="/"> Ensio </a> </th>
                  <th rowspan="2"> <img src="{% static '/img/header_line.svg' %}" id="header_line"> </th>
                  <th> <a href="/">
                      <input type="button" value="Money">
                  </a> </th>
                  <th> <a href="/employees/">
                      <input type="button" value="Staff">
                  </a> </th>
                  <th> <a href="/orders/">
                      <input type="button" value="Orders">
                  </a> </th>
                  <th> <a href="/stock/">
                      <input type="button" value="Stock">
                  </a> </th>
                  <th rowspan="2"> <img src="{% static '/img/header_line.svg' %}" id="header_line"> </th>
                  <th> <a href="/">
                      <input type="button" value="Register">
                  </a> </th>
              </tr>
              <tr>
                  <th> <a href="/customers/">
                      <input type="button" value="Customers">
                  </a> </th>
                  <th> <a href="/">
                      <input type="button" value="---">
                  </a> </th>
                  <th> <a href="/">
                      <input type="button" value="---">
                  </a> </th>
                  <th> <a href="/">
                      <input type="button" value="---">
                  </a> </th>
                  <th> <a href="/">
                      <input type="button" value="Login">
                  </a> </th>
              </tr>
          </table>
      </div>
  </div>
  <div id=ghost_header></div>

  <div id="content">
    &content_html&
  </div>

  <div class="footer" id="ensio_footer">
    Ensio, 2021
  </div>
</body>

&content_js&

</html>

