{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> &page_title& </title>
  <meta name="description" content="Ensio">
  <meta name="author" content="leoproko">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/base.css' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/div.css' %}">
  <link rel="stylesheet" tepe="text/css" href="{% static '/css/p.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/ensio_logo.png' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
  <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '605269887116860');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=605269887116860&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

&content_css&

<body>
    {% include 'html/header.html' %}

    <div class="customers_content">
        &content_html&
    </div>

  <div class="ghost_footer"></div>

  <div class="footer" id="ensio_footer">
    Leo Proko, 2021
  </div>
</body>

&content_js&

</html>

