<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

<h2> Customers </h2>
<b> Found {{ customers_count }} customers </b>
<div class="center_form">
    <form action="" method="POST">
        <a href="{% url 'new_customer' %}">
            <input type="button" value="New customer">
        </a>
    </form>
</div>
<table class="data_table">
    <tr>
        <th> Orders </th>
        <th> First name </th>
        <th> Surname </th>
        <th> Phone number </th>
        <th> Orders count </th>
        <th> Date created </th>
        <th> Change </th>
        <th> Remove </th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td> <a href="{% url 'customer' customer.id %}">View</a> </td>
        <td> {{ customer.first_name }} </td>
        <td> {{ customer.surname }} </td>
        <td> {{ customer.phone_number }} </td>
        <td> {{ customer.order_set.all.count }} </td>
        <td> {{ customer.date_created }} </td>
        <td> <a href="">Change</a> </td>
        <td> <a href="">Remove</a> </td>
    </tr>
    {% endfor %}
</table>

