<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

<b> Name: </b> {{ customer.first_name }} {{ customer.surname }} 
<br>
<b> Phone number: </b> {{ customer.phone_number }}
<br>
<form action="{% url 'new_order_by_customer' customer.id %}">
    <input type="submit" value="New order" />
</form>
<b> Orders: </b> {{ orders_count }}
<table class="data_table">
    <tr>
        <th> ID </th>
        <th> Item </th>
        <th> Tags </th>
        <th> Price </th>
        <th> Date created </th>
        <th> Status </th>
        <th> Change </th>
        <th> Remove </th>
    </tr>
    {% for order in orders %}
    <tr>
        <td> {{ order.id }} </td>
        <td> {{ order.item.name }} </td>
        <td> 
            {% for tag in order.item.tags.all %}
                {{ tag }} 
            {% endfor %}
        </td>
        <td> {{ order.item.price }} </td>
        <td> {{ order.date_created }} </td>
        <td> {{ order.status }} </td>
        <td> <a href="{% url 'change_order' order.id %}"> Change </a> </td>
        <td> <a href="{% url 'delete_order' order.id %}"> Remove </a> </td>
    </tr>
    {% endfor %}
</table>

