<link rel="stylesheet" tepe="text/css" href="{% static '/css/form.css' %}">
<h2> Delete employee {{ employee.id }} </h2>
<h3> Are you sure to remove this employee? </h3>
<table>
    <tr>
        <th> First Name </th>
        <th> Surname </th>
        <th> Father Name </th>
        <th> Position </th>
        <th> Status </th>
        <th> Phone Number </th>
        <th> Telegram </th>
        <th> E-mail </th>
        <th> Start Date </th>
        <th> Birthday </th>
    </tr>
    <tr>
        <td> {{ employee.first_name }} </td>
        <td> {{ employee.surname }} </td>
        <td> {{ employee.father_name }} </td>
        <td> {{ employee.position }} </td>
        <td> {{ employee.status }} </td>
        <td> {{ employee.phone_number }} </td>
        <td> {{ employee.telegram }} </td>
        <td> {{ employee.email }} </td>
        <td> {{ employee.start_date }} </td>
        <td> {{ employee.birthday }} </td>
    </tr>
</table>

<div class="center_form">
    <form action="" method="POST">
        <a href="{% url 'employees' %}">
            <input type="button" value="No, return back" />
        </a>
        <input type="submit" value="Yes, delete" />
    </form>
</div>
