<h2 id="employees_title"> Found {{ employees_count }} employees in the database </h2>
<ul>
    <li> <b> Works: {{ status_count.works }} </b> </li>
    <li> <b> On holiday: {{ status_count.on_holiday }} </b> </li>
    <li> <b> Dismissed: {{ status_count.dismissed }} </b> </li>
</ul>

<table>
    <tr>
        <th> First Name </th>
        <th> Surname </th>
        <th> Father Name </th>
        <th> Position </th>
        <th> Status </th>
        <th> Phone Number </th>
        <th> Telegram </th>
        <th> E-mail </th>
        <th> Start Date </th>
        <th> Birthday </th>
        <th> Change </th>
        <th> Remove </th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td> {{ employee.first_name }} </td>
        <td> {{ employee.surname }} </td>
        <td> {{ employee.father_name }} </td>
        <td> {{ employee.position }} </td>
        <td> {{ employee.status }} </td>
        <td> {{ employee.phone_number }} </td>
        <td> {{ employee.telegram }} </td>
        <td> {{ employee.email }} </td>
        <td> {{ employee.start_date }} </td>
        <td> {{ employee.birthday }} </td>
        <td> <a href=""> Change </a> </td>
        <td> <a href=""> Remove </a> </td>
    </tr>
    {% endfor %}
</table>

