<p> This is corporate knowlege base where you can find any information you are interested in if you have access to it </p>

<div id="navigation">
    <form action="" method="POST">
        <a href="/customers/">
            <input type="button" value="Customers">
        </a>
        <br>
        <a href="/orders/">
            <input type="button" value="Orders">
        </a>
        <br>
        <a href="/items/">
            <input type="button" value="Items">
        </a>
        <br>
        <a href="/employees/">
            <input type="button" value="Employees">
        </a>
        <br>
        <a href="/password/">
            <input type="button" value="Passwords">
        </a>
    </form>
</div>
