<h2> Found {{ passwords_count }} passwords in the database </h2>
<table>
    <tr>
        <th> Service </th>
        <th> Username </th>
        <th> Password </th>
        <th> Change </th>
        <th> Remove </th>
    </tr>
    {% for password in passwords %}
    <tr>
        <td> {{ password.service }} </td>
        <td> {{ password.username }} </td>
        <td> {{ password.password }} </td>
        <td> <a href=""> Change </a> </td>
        <td> <a href=""> Remove </a> </td>
    </tr>
    {% endfor %}
</table>

